# GTFS Normalization Test Report

| Dataset | Status | Agency | Routes | Stops | Trips | Stop Times | Error |
| --- | --- | --- | --- | --- | --- | --- | --- |
| gtfs(1).zip | ✅ Success | 1 | 104 | 1821 | 6514 | 221231 | - |
| gtfs-20240704-090655.zip | ✅ Success | 1 | 6 | 232 | 249 | 4226 | - |
| gtfs-ginko.zip | ✅ Success | 1 | 185 | 2032 | 21975 | 455941 | - |
| gtfs-tan.zip | ✅ Success | 1 | 109 | 3712 | 151443 | 3801169 | - |
| gtfs.zip | ✅ Success | 1 | 43 | 1384 | 59387 | 1893561 | - |
| gtfs5.zip | ✅ Success | 1 | 55 | 2011 | 9219 | 267503 | - |
| mamp-rtm.gtfs.zip | ✅ Success | 1 | 126 | 2748 | 43680 | 989408 | - |
| SEM-GTFS(2).zip | ✅ Success | 1 | 54 | 2502 | 21428 | 502912 | - |
| SOLEA.GTFS_current.zip | ✅ Success | 1 | 33 | 963 | 9115 | 192345 | - |
| STAS.GTFS.zip | ✅ Success | 1 | 83 | 2285 | 34712 | 848613 | - |


## Failure Details

